* {
	margin: auto;
	padding: auto;
}

.photo table {
	border-collapse: separate;
	border-spacing: 150px 15px;
}

.con {
	background-color: azure;
}

.icon {
	
	width: 100%;
	background-color: ;
	border-bottom: 2px solid #484040;
}

.icon a{
	color: #f0f0f0;
}
.icon div {
	width: 1200px;
	background-color: ;
	font-family: calibri;
	padding: 10px;
	text-align: left;
}

.icon div table a {
	padding: 20px;
	text-decoration: none;
	color: rgb(0, 125, 170);
}

.icon div table a:hover {
	color: #428bca;
	border-bottom: 2px solid gray;
}

.con h1 {
	font-size: 22px;
	font-style: initial;
}

.con p {
	font-size: 18px;
}

<<<<<<< Updated upstream .team {
	border-radius: 50px;
}

.abc {
	color: rgba(97, 92, 92, 0.678);
}

.ser p {
	font-size: 22px;
	color: #f0f0f0;
}
.section  sec p{
	font-size: 22px;

}
.list{
	font-size: 22px;
}
.values{
	font-size: 22px;
}
.ser h2 {
	font-size: 28px;
	color: #e6a910;
}

.head h1 {
	color: #740;
	font-size: 50px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

>>>>>>>Stashed changes p {
	font-size: medium;
}

h3 {
	color: rgb(0, 125, 156);
}

h1 {
	color: rgb(0, 0, 0);
}

.info {
	width: 100%;
	background-color: #059bf3 !important;
	border-bottom: 2px solid #f0f0f0;
}

.info div {
	width: 1200px;
	color: #ffffff;
	background: color: #6f6f6f !important;
	font-family: calibri;
	padding: 10px;
	text-align: right;
}
.navigation_down{
	width:100%;
	background-color:#000 !important;
	border-bottom:2px solid #f0f0f0;
}
.navigation_down div{
	width:1200px;
	color:#fff;
	background-color:#000;
	font-family:calibri;
	padding:10px;
	text-align:left;
}
.ser button{
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #428bca;
}
.ser button a{
    text-decoration: none;
    color: #000;
}
.app table{
    border-color: #000;
}
.bottom_up{
    
    background-image: url('/image/bgpic 2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-weight:bolder;

}